:root {
  --black: #000;
  --white: #fff;
  --red: #de1f0d;
  --yellow: #f5c802;
  --grey: #d3cfd4;
}

body {
  font-family: 'Averia Sans Libre';
  font-weight: 300;
  background-image: url(../img/background.png);
}

nav {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
}

.search-wrapper {
  flex-grow: 0.2;
  align-self: center;
  align-content: stretch;
  max-width: 300px;
  height: 30px;
}

h1 {
  text-align: center;
}

/*ul*/
.pokemon-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}


/*li*/
.pokemon-button {
  background-color: var(--red);
  width: 100%;
  text-align: center;
  border-radius: 1.1875rem;
  padding: 2em 3em;
}
