:root {
  --black: #000;
  --white: #fff;
  --red: #de1f0d;
  --orange: #ff3b21;
  --yellow: #f5c802;
  --lightYellow: #f7de4f;
  --grey: #d3cfd4;
}

body {
  font-family: 'Averia Sans Libre';
  font-weight: 300;
  background-image: url(../img/background.png);
}



h1 {
  text-align: center;
}

button.btn.btn-primary {
  visibility: hidden;
}

/*li*/
.btn-secondary {
  background-color: var(--red);
  width: 100%;
  text-align: center;
  border-radius: 1.1875rem;
  padding: 2em 3em;
  cursor: pointer;
}

.btn-secondary:hover, .btn-secondary:focus {
  transition-duration: 0.8s;
  transition-property: background-color, transform;
  filter: brightness(180%);
  outline-style: none;
}

button.close {
  outline-style: none;
}


#modalContainer {
  text-align: center;
}


.modal-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.5);
  background: var(--lightYellow);
  border: var(--red) 5px solid;
}



.modal img {
  float: center;
}

.list-group-item {
  background-color: initial;
  border: 0px;
}
